* {
	box-sizing: border-box;
}
body {
	font-family: Tahoma, sans-serif;
	line-height: 1.5;
	color: #333333;
}
.header {
	font-size: 24px;
	margin-top: 85px;
	text-align: center;
	padding: 0px;
}
.header span {
	display: block;
}
.header strong {
text-transform: uppercase;	
}
.main {
	margin-top: 85px;
	text-align: center;
}
.video{
	display: inline-block;
}
.form {
	width: 351px;
	height: 300px;
	display: inline-block;
	border: 5px	solid #2727d9;
	margin-left: 45px;
	vertical-align: top;
}
.form p {
	font-size: 20px;
	padding: 30px;
	margin-bottom: -10px;
}
.form input {
	width: 297px;
	height: 49px;
	border: 1px solid #333333;
	margin-top: 10px;
	padding-left: 25px;
}
.btn {
	border: none;
	background-color: #3c3cdd;
	width: 297px;
	height: 64px;
	color: white;
	font-size: 20px;
	margin: 10px auto;
	display: block;
}
h2 {
	font-size: 24px;
	margin-top: 85px;
	text-align: center;
	padding: 0px;
	text-transform: uppercase;
}
.col {
	display: inline-block;
	text-align: center;
	margin: 10px 50px;
}
.feature {
	text-align: center;
	margin: 85px auto;
}
.colum-foto {
	margin-top: 85px;
}
.colum-one, .colum-two {
	text-align: center;
}
.foto {
display: inline-block;	
padding: 20px;
}
